body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0px;
    padding:0px;
}
/* Fuente de letra descargada */
@font-face {
    font-family: Vanilla;
    src: url(../Vanilla.ttf);
}
.vanilla{
    font-family: Vanilla;
}
html {
    scroll-behavior: smooth;
}

@media (min-width: 761px){
    /* Barra menú */
    .logo{
        width: 70px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        border: 2px solid black;
        padding: 10px;
        background-color: rgb(211, 248, 226);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
    nav ul{
        margin: 0;
        display: flex;
        list-style: none;
    }
    nav ul li{
        margin: 0;
        margin-right: 2em;
        font-size: 120%;
        font-family: Helvetica, sans-serif;
        display: flex;
        align-items: center;
    }
    nav ul li:hover{
        background-color: rgb(237, 231, 177);
    }
    nav ul li a{
        color: black;
        text-decoration: none;
    }
    nav button{
        display: none;
    }

    /* Body */
    body{
        background-color: rgb(169, 222, 249);
    }
    main{
        margin: 0px 7%;
    }

    /* Primera sección */
    #seccion1{
        margin-bottom: 30px;
        background-image: url(../Images/Colectivo2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        text-align: center;
    }
    #seccion1 h1{
        margin: 0;
        font-size: 6vw;
        padding: 20% 0%;
    }
    #seccion1 p{
        margin: 0;
        font-size: 2.5vw;
        padding: 7vw;
    }

    /* Segunda sección */
    #seccion2{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: rgb(246, 148, 193);
        margin-bottom: 5%;
    }
    #seccion2 img{
        width: 45vw;
        justify-self: center;
        align-self: center;
    }
    #seccion2 h3{
        font-size: 4.5vw;
        padding: 10% 10% 5% 10%;
        text-align: center;
    }
    #seccion2 p{
        font-size: 2.5vw;
        padding: 5% 15% 10% 15%;
    }

    /* Tercera sección */
    #seccion3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5%;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10%;
        margin-bottom: 10%;
    }
    #seccion3 img{
        width: 18vw;
        height: auto;
        padding: 1vw;
    }
    #seccion3 .producto{
        border: 2px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        right: 30px;
        background-color: rgb(237, 231, 177);
    }
    #seccion3 h4{
        font-size: 2vw;
        margin: 8% 0%;
        font-family: vanilla;
    }
    #seccion3 .detalles p{
        font-size: 2vw;
        margin-bottom: 8%;
    }

    /* Cuarta sección */
    .seccion4{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        background-color: rgb(128, 237, 153);
    }
    .seccion4 h3{
        padding: 2% 0%;
    }

    /* Footer */
    .politica{
        display: flex;
        justify-content: space-between;
        font-size: 2vw;
        padding: 1% 3%;
    }
}



/* Tamaño mobile ------------------------------------*/
@media (max-width: 762px) {
    /* Barra menú */
    .logo{
        width: 10vw;
    }
    nav{
        display: flex;
        justify-content: space-between;
        border: 2px solid black;
        padding: 10px;
        background-color: rgb(211, 248, 226);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
    nav ul{
        display: none;
    }
    nav button{
        margin-right: 20px;
        font-size: 6vw;
        width: 10vw;
    }

    /* Body */
    body{
        background-color: rgb(169, 222, 249);
    }
    main{
        margin: 0px 7%;
    }

    /* Primera sección */
    #seccion1{
        margin-bottom: 30px;
        background-image: url(../Images/Colectivo2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        text-align: center;
    }
    #seccion1 h1{
        margin: 0;
        font-size: 5vw;
        padding: 20% 0%;
    }
    #seccion1 p{
        margin: 0;
        font-size: 15px;
        padding: 7vw;
    }

    /* Segunda sección */
    #seccion2{
        position: relative;
        display: grid;
        grid-template-rows: 2fr 2fr;
        background-color: rgb(246, 148, 193);
        margin-bottom: 5%;
    }
    #seccion2 img{
        width: 60vw;
        justify-self: center;
        align-self: center;
        padding: 3%;
    }
    #seccion2 h3{
        font-size: 35px;
        padding-top: 5%;
        text-align: center;
    }
    #seccion2 p{
        font-size: 20px;
        padding: 5% 15% 0% 15%;
    }

    /* Tercera sección */
    #seccion3{
        display: grid;
        grid-column-gap: 5%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 6%;
        margin-bottom: 30%;
    }
    #seccion3 img{
        width: 30vw;
        height: auto;
        padding: 1vw;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
    #seccion3 .producto{
        border: 2px solid black;
        display: grid;
        grid-template-columns: 1fr 2fr;
        right: 30px;
        background-color: rgb(237, 231, 177);
    }
    #seccion3 h4{
        font-size: 5vw;
        margin: 3% 0%;
        font-family: vanilla;
    }
    #seccion3 .detalles p{
        font-size: 3.5vw;
        margin-bottom: 3%;
    }

    /* Cuarta sección */
    .seccion4{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        font-size: 4.5vw;
        background-color: rgb(128, 237, 153);
    }
    .seccion4 h3{
        padding: 2% 0%;
    }

    /* Footer */
    .politica{
        display: flex;
        justify-content: space-between;
        font-size: 2.5vw;
        padding: 1% 3%;
    }
}